name: radio-homework

services:
  icecast:
    build: .
    restart: unless-stopped
    networks:
      - private-tier
    configs:
      - source: icecast_xml
        target: /etc/icecast2/icecast.xml

  liquidsoap:
    image: savonet/liquidsoap:v2.2.5
    restart: unless-stopped
    depends_on:
      - icecast
    networks:
      - private-tier
    # Монтируем папку с музыкой (хост -> контейнер)
    volumes:
      - ./music:/music:ro
    configs:
      - source: radio_liq
        target: /etc/liquidsoap/radio.liq
    command: ["/etc/liquidsoap/radio.liq"]

  nginx:
    image: nginx:1.27-bookworm
    restart: unless-stopped
    depends_on:
      - icecast
    ports:
      - "80:80"
    networks:
      - private-tier
      - public-tier
    configs:
      - source: nginx_default
        target: /etc/nginx/conf.d/default.conf

networks:
  public-tier:
    driver: bridge
  private-tier:
    internal: true
    driver: bridge

configs:
  icecast_xml:
    file: ./icecast.xml
  radio_liq:
    file: ./radio.liq
  nginx_default:
    file: ./nginx.conf